In [3]:
import pandas as pd

url = "https://kassiesa.net/uefa/data/method5/trank10-2026.html"
tables = pd.read_html(url)

print(len(tables))      # shows how many tables found
df = tables[0]          # pick the first one
df.drop(columns=['Unnamed: 0','Unnamed: 1'],inplace=True)
df.rename(columns={"Unnamed: 2": "team", "Unnamed: 3": "nationality"},inplace=True)
df.dropna(subset=['Total Points'],inplace=True)
df.reset_index(drop=True,inplace=True)
df.to_csv('../data/UEFA_Ranking_2026.csv',index=False)
print(df.head())

1
                  team nationality  16/17  17/18  18/19  19/20  20/21  21/22  \
0          Real Madrid         Esp   33.0   32.0   19.0   17.0   26.0   30.0
1       Bayern München         Ger   22.0   29.0   20.0   36.0   27.0   26.0
2      Manchester City         Eng   18.0   22.0   25.0   25.0   35.0   27.0
3  Paris Saint-Germain         Fra   20.0   19.0   19.0   31.0   24.0   19.0
4         FC Barcelona         Esp   23.0   25.0   30.0   24.0   20.0   15.0

   22/23  23/24  24/25  25/26  Title Points  Total Points  Country Part
0   29.0   34.0  24.50   12.0           NaN        256.50        36.236
1   27.0   28.0  27.25   14.0           NaN        256.25        30.708
2   33.0   28.0  14.75   13.0           NaN        240.75        40.270
3   19.0   23.0  33.50   12.0           NaN        219.50        25.580
4    9.0   23.0  36.25   11.0           NaN        216.25        36.236

In [32]:
df
#df.columns

,team,nationality,16/17,17/18,18/19,19/20,20/21,21/22,22/23,23/24,24/25,25/26,Title Points,Total Points,Country Part
0,Real Madrid,Esp,33.00,32.00,19.0,17.0,26.0,30.0,29.0,34.0,24.50,12.0,NaN,256.50,36.086
1,Bayern München,Ger,22.00,29.00,20.0,36.0,27.0,26.0,27.0,28.0,27.25,14.0,NaN,256.25,30.537
2,Manchester City,Eng,18.00,22.00,25.0,25.0,35.0,27.0,33.0,28.0,14.75,13.0,NaN,240.75,40.159
3,Paris Saint-Germain,Fra,20.00,19.00,19.0,31.0,24.0,19.0,19.0,23.0,33.50,12.0,NaN,219.50,25.523
4,FC Barcelona,Esp,23.00,25.00,30.0,24.0,20.0,15.0,9.0,23.0,36.25,11.0,NaN,216.25,36.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,Cefn Druids,Wal,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,2.124
548,Bangor City,Wal,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.124
549,Llandudno FC,Wal,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.124
550,FC Lusitanos,And,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.032
551,Cosmos,Sma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.00,0.799