UEFA_Ranking 
- the score of each football club calculate by UEFA plus the country part score obtained by overall national team performance
- we can use this to map the player national to this meaningful score

In [3]:
import pandas as pd

for year in range(2018,2027):
    print(year)
    url = f"https://kassiesa.net/uefa/data/method5/trank10-{year}.html"
    tables = pd.read_html(url)


    df = tables[0]         
    df.drop(columns=['Unnamed: 0','Unnamed: 1'],inplace=True)
    df.rename(columns={"Unnamed: 2": "team", "Unnamed: 3": "nationality"},inplace=True)
    df.dropna(subset=['Total Points'],inplace=True)
    df.reset_index(drop=True,inplace=True)
    df.to_csv(f'../data/uefa/UEFA_Ranking_{year}.csv',index=False)
    print(df.head(2))

2018
           team nationality  08/09  09/10  10/11  11/12  12/13  13/14  14/15  \
0   Real Madrid         Esp   12.0   19.0   30.0   32.0   26.0   35.0   29.0
1  FC Barcelona         Esp   26.0   27.0   33.0   30.0   24.0   24.0   34.0

   15/16  16/17  17/18  Title Points  Total Points  Country Part
0   33.0   33.0   32.0          98.0         379.0        39.004
1   26.0   23.0   25.0          45.0         317.0        39.004
2019
           team nationality  09/10  10/11  11/12  12/13  13/14  14/15  15/16  \
0   Real Madrid         Esp   19.0   30.0   32.0   26.0   35.0   29.0   33.0
1  FC Barcelona         Esp   27.0   33.0   30.0   24.0   24.0   34.0   26.0

   16/17  17/18  18/19  Title Points  Total Points  Country Part
0   33.0   32.0   19.0          94.0         382.0        40.256
1   23.0   25.0   30.0          45.0         321.0        40.256
2020
             team nationality  10/11  11/12  12/13  13/14  14/15  15/16  \
0     Real Madrid         Esp   30.0   32.0   26.0   35.0   29.0   33.0
1  Bayern München         Ger   21.0   30.0   33.0   27.0   28.0   29.0

   16/17  17/18  18/19  19/20  Title Points  Total Points  Country Part
0   33.0   32.0   19.0   17.0          94.0         380.0        40.456
1   22.0   29.0   20.0   36.0          43.0         318.0        30.839
2021
             team nationality  11/12  12/13  13/14  14/15  15/16  16/17  \
0     Real Madrid         Esp   32.0   26.0   35.0   29.0   33.0   33.0
1  Bayern München         Ger   30.0   33.0   27.0   28.0   29.0   22.0

   17/18  18/19  19/20  20/21  Title Points  Total Points  Country Part
0   32.0   19.0   17.0   26.0          90.0         372.0        40.713
1   29.0   20.0   36.0   27.0          43.0         324.0        30.749
2022
             team nationality  12/13  13/14  14/15  15/16  16/17  17/18  \
0     Real Madrid         Esp   26.0   35.0   29.0   33.0   33.0   32.0
1  Bayern München         Ger   33.0   27.0   28.0   29.0   22.0   29.0

   18/19  19/20  20/21  21/22  Title Points  Total Points  Country Part
0   19.0   17.0   26.0   30.0          98.0         378.0        40.227
1   20.0   36.0   27.0   26.0          43.0         320.0        30.942
2023
             team nationality  13/14  14/15  15/16  16/17  17/18  18/19  \
0     Real Madrid         Esp   35.0   29.0   33.0   33.0   32.0   19.0
1  Bayern München         Ger   27.0   28.0   29.0   22.0   29.0   20.0

   19/20  20/21  21/22  22/23  Title Points  Total Points  Country Part
0   17.0   26.0   30.0   29.0          94.0         377.0        39.999
1   36.0   27.0   26.0   27.0          43.0         314.0        30.781
2024
             team nationality  14/15  15/16  16/17  17/18  18/19  19/20  \
0     Real Madrid         Esp   29.0   33.0   33.0   32.0   19.0   17.0
1  Bayern München         Ger   28.0   29.0   22.0   29.0   20.0   36.0

   20/21  21/22  22/23  23/24  Title Points  Total Points  Country Part
0   26.0   30.0   29.0   34.0           NaN         282.0        38.611
1   27.0   26.0   27.0   28.0           NaN         272.0        31.710
2025
             team nationality  15/16  16/17  17/18  18/19  19/20  20/21  \
0     Real Madrid         Esp   33.0   33.0   32.0   19.0   17.0   26.0
1  Bayern München         Ger   29.0   22.0   29.0   20.0   36.0   27.0

   21/22  22/23  23/24  24/25  Title Points  Total Points  Country Part
0   30.0   29.0   34.0  24.50           NaN        277.50        39.347
1   26.0   27.0   28.0  27.25           NaN        271.25        32.223
2026
             team nationality  16/17  17/18  18/19  19/20  20/21  21/22  \
0  Bayern München         Ger   22.0   29.0   20.0   36.0   27.0   26.0
1     Real Madrid         Esp   33.0   32.0   19.0   17.0   26.0   30.0

   22/23  23/24  24/25  25/26  Title Points  Total Points  Country Part
0   27.0   28.0  27.25  17.75           NaN         260.0        31.269
1   29.0   34.0  24.50  14.00           NaN         258.5        36.683

In [ ]:
df
#df.columns

,team,nationality,16/17,17/18,18/19,19/20,20/21,21/22,22/23,23/24,24/25,25/26,Title Points,Total Points,Country Part
0,Real Madrid,Esp,33.00,32.00,19.0,17.0,26.0,30.0,29.0,34.0,24.50,12.0,NaN,256.50,36.086
1,Bayern München,Ger,22.00,29.00,20.0,36.0,27.0,26.0,27.0,28.0,27.25,14.0,NaN,256.25,30.537
2,Manchester City,Eng,18.00,22.00,25.0,25.0,35.0,27.0,33.0,28.0,14.75,13.0,NaN,240.75,40.159
3,Paris Saint-Germain,Fra,20.00,19.00,19.0,31.0,24.0,19.0,19.0,23.0,33.50,12.0,NaN,219.50,25.523
4,FC Barcelona,Esp,23.00,25.00,30.0,24.0,20.0,15.0,9.0,23.0,36.25,11.0,NaN,216.25,36.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,Cefn Druids,Wal,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,2.124
548,Bangor City,Wal,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.124
549,Llandudno FC,Wal,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.124
550,FC Lusitanos,And,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25,2.032
551,Cosmos,Sma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.00,0.799